html, body {
  overflow-x: hidden;
}

.jumbotron {
    padding-top: 6rem;

    background-color: #e2edff;
}
#experience {
    background-color: #e2edff;
}

  section {
    padding-top: 4rem;
  }

  .my-message{
    padding-top: 4rem;
  }

  .bi-instagram {
    margin: 10px;
  }

