
.jumbotron {
    padding-top: 6rem;

    background-color: #e2edff;
}
#experience{
    background-color: #e2edff;

}

  section {
    padding-top: 4rem;
  }

  .my-message{
    padding-top: 4rem;
  }

  .gallery-img {
    padding: 10px;
    width: 100%;
  }

  #gallery .row > * {
    padding: 0;
  }
